{% extends '::layout.html.twig' %}

{% block title %}phpDocumentor :: Templates{% endblock %}

{% block body %}

<div class="row content">
  <div class="span12">
    <style>
      table.templates
      {
        border-collapse: separate;
        border-spacing: 10px;
        font-size:      1.05em;
        width:          100%
      }

      table.templates td
      {
        border:                    1px solid #ddd;
        border-top-right-radius:   5px;
        border-bottom-left-radius: 5px;
        text-align:                center;
        vertical-align:            bottom;
        padding-right: 10px;
      }

      table.templates td a
      {
        border-top-right-radius:   5px;
        border-bottom-left-radius: 5px;
        padding: 15px 5px;
        display: block;
        width:   100%;
        height:  100%;
      }

      table.templates td a:hover
      {
        background-color: #f9f9f9;
      }
    </style>

    <script>
      jQuery(document).ready(function() {
        jQuery('.templates a').hover(function(e) {
          if (e.pageX > (jQuery(window).width() / 2)) {
            dir = 'right';
            pos = jQuery(window).width() - e.pageX - 40;
          } else {
            dir = 'left';
            pos = e.pageX + 40;
          }

          jQuery('#template-preview')
              .css('left', '').css('right', '')
              .attr('src', '{{ asset('bundles/phpdocumentortemplate/images/screenshots') }}/'+this.title+'.png')
              .css('top', ((jQuery(window).height() - jQuery(this).outerHeight()) / 2) + jQuery(window).scrollTop())
              .fadeIn()
              .css(dir, pos);
        }, function(e) {
          jQuery('#template-preview').hide();
        });
        jQuery('.templates a').mousemove(function(e) {
          if (e.pageX > (jQuery(window).width() / 2)) {
            dir = 'right';
            pos = jQuery(window).width() - e.pageX + 40;
          } else {
            dir = 'left';
            pos = e.pageX + 40;
          }

          jQuery('#template-preview').css('left', '').css('right', '').css(dir, pos);
        });

        jQuery('.templates a').click(function (e) {
          href = this.href;
          jQuery('#template_show').slideUp('fast', function() {
            jQuery('#template_show').load(href, {}, function(){
              jQuery('#template_show img').css('cursor', 'pointer').click(function(){
                jQuery('#template_show').slideUp('fast');
              });
              jQuery('#template-preview').hide();
              jQuery('#template_show').slideDown('slow', function(){
                showSidebar();
              });
            });
          });
          return false;
        });
      });
    </script>

    <div style="display: none; height: auto; border-bottom: 2px solid silver; margin-bottom: 10px; padding: 10px;" id="template_show"></div>

    {% for template_row in templates %}
      <div class="row content templates">
      {% for template in template_row %}
        <div class="threecol {{ template.class }}">
          <div class="border padded">
            <a href="{{ path('template_show', { 'name': template.slug }) }}" title="{{ template.slug }}">
              <img src="{{ asset('bundles/phpdocumentortemplate/images/thumbnails/'~template.slug~'.png') }}" alt="{{ template.name }}"><br />
              {{ template.name }}
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}

    <img id="template-preview" src="" style="position: absolute; display: none; width: 440px; z-index: 5; border: 1px solid gray; background: white;" alt="Preview"/>
  </div>
</div>
{% endblock %}
