<div class="hero-unit">
    <h1>phpDocumentor</h1>

    <h2>Documentation Generator for PHP</h2>
</div>

<div class="row content big-buttons">
  <div class="span4">
    <a href="http://demo.phpdoc.org/" class="border padded">
      Demo
    </a>
  </div>
  <div class="span4">
    <a href="http://www.phpdoc.org/docs/" class="border padded">
      Documentation
    </a>
  </div>
  <div class="span4">
    <a href="http://github.com/phpDocumentor/phpDocumentor2" class="border download padded">
      Download
    </a>
  </div>
</div>

<script type="text/javascript">
    function useCasesScrollUp()
    {
      sliderTop = $('#use-cases ul.cases').position().top - $('#use-cases ul.cases').parent().position().top;
      if (sliderTop + 36 <= 0) {
        if (sliderTop + 72 > 0) {
          $('#use-cases .arrow.left').hide();
        } else {
          $('#use-cases .arrow.left').show();
        }

        $('#use-cases .arrow.right').show();
        $('#use-cases ul.cases').animate({'top':sliderTop + 36 }, 'fast');
      }
      return false;
    }

    function useCasesScrollDown()
    {
      sliderTop = $('#use-cases ul.cases').position().top - $('#use-cases ul.cases').parent().position().top;
      if ($('#use-cases ul.cases').height() > Math.abs(sliderTop) + 36) {
        if ($('#use-cases ul.cases').height() < Math.abs(sliderTop) + 72) {
          $('#use-cases .arrow.right').hide();
        } else {
          $('#use-cases .arrow.right').show();
        }

        $('#use-cases .arrow.left').show();
        $('#use-cases ul.cases').animate({'top':sliderTop - 36 }, 'fast');
      }
      return false;
    }
</script>
<div class="row use-cases">
    <div id="use-cases" class="span12" title="Use cases">
        <a class="title">Use cases</a>
        <a class="arrow left" href="#" onclick="return useCasesScrollUp()">&laquo;</a>
        <a class="arrow right" href="#" onclick="return useCasesScrollDown()">&raquo;</a>
        <ul class="cases">
            <li><a href="http://framework.zend.com/apidoc/2.2/"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/zf.png') }}" alt="Zend Framework" /></a></li>
            <li><a href="http://www.agavi.org/apidocs/index.html"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/agavi.png') }}" alt="Agavi" /></a></li>
            <li><a href="http://apidocs.sugarcrm.com/"><img src="https://sugarcrm-online.s3.amazonaws.com/D7-images/Sugar-LOGO-2012.png" alt="SugarCRM" /></a></li>
            <li><a href="http://api.propelorm.org/1.6.2"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/propel.png') }}" alt="Propel" /></a></li>
            <li><a href="http://pubsvn.ez.no/docblox/trunk/html/"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/ezpublish.gif') }}" alt="ezPublish" /></a></li>
            <li><a href="http://www.phing.info/docs/api/trunk/"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/phing.gif') }}" alt="Phing" /></a></li>
            <li><a href="http://docs.pyrocms.com/2.2/api//"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/pyrocms.png') }}" style="background: black;" alt="PyroCMS"/></a></li>
            <li><a href="http://api.modx.com/"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/modx.png') }}" alt="ModX"/></a></li>
            <li><a href="http://api.xoopsengine.org/"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/xoops.png') }}" alt="Xoops Engine" /></a></li>
            <li><a href="http://www.plus.net/"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/plusnet.png') }}" alt="Plusnet" /></a></li>
            <li><a href="http://www.expert-shops.com/"><img src="{{ asset('bundles/phpdocumentorwebsite/images/usecases/expertshops.png') }}" alt="Expertshops"/></a></li>
        </ul>
    </div>
</div>
