{% extends '::base.html.twig' %}

{% block title %}phpDocumentor :: Templates{% endblock %}

{% block body %}

<div class="row content surrounding-space">
    <div id="carousel-templates" class="carousel slide" data-ride="carousel">
{#
        <ol class="carousel-indicators">
            <li data-target="#carousel-templates" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-templates" data-slide-to="1"></li>
            <li data-target="#carousel-templates" data-slide-to="2"></li>
        </ol>
#}

        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ asset('bundles/phpdocumentorwebsite/images/templates/clean.png') }}" alt="clean template">
                <div class="carousel-caption">
                    <h4>clean</h4>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('bundles/phpdocumentorstyle/images/screenshots/responsive.png') }}" alt="responsive-twig template">
                <div class="carousel-caption">
                    <h4>responsive-twig</h4>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('bundles/phpdocumentorstyle/images/screenshots/checkstyle.png') }}" alt="checkstyle template">
                <div class="carousel-caption">
                    <h4>checkstyle</h4>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('bundles/phpdocumentorstyle/images/screenshots/abstract.png') }}" alt="abstract template">
                <div class="carousel-caption">
                    <h4>abstract</h4>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('bundles/phpdocumentorstyle/images/screenshots/old_ocean.png') }}" alt="old_ocean template">
                <div class="carousel-caption">
                    <h4>old_ocean</h4>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('bundles/phpdocumentorstyle/images/screenshots/zend.png') }}" alt="zend template">
                <div class="carousel-caption">
                    <h4>zend</h4>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('bundles/phpdocumentorstyle/images/screenshots/new-black.png') }}" alt="new-black template">
                <div class="carousel-caption">
                    <h4>new-black</h4>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-templates" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#carousel-templates" data-slide="next">&rsaquo;</a>
    </div>
</div>

{% endblock %}
