{% extends app.request.isXmlHttpRequest ? "phpDocumentorResourceBundle::layout.ajax.html.twig" : "phpDocumentorResourceBundle::layout.html.twig" %}

{% block title %}phpDocumentor :: Template :: {{ template.name }} {% endblock %}

{% block content %}

  <script>

    function showSidebar()
    {
      jQuery('#template_show_sidebar')
        .css('left', jQuery('#template_show_image').offset().left + jQuery('#template_show_image').width() - 300)
        .css('height', jQuery('#template_show_image').height() -11)
        .mouseleave(function(e) {
          if (e.toElement.id != 'template_show_image') {
            jQuery(this).fadeOut();
          }
        })
        .fadeTo('slow', 0.8);
    }

    jQuery(document).ready(function(){
      jQuery('#template_show_image').hover(function(){
        showSidebar();
      }, function(e) {
        if (e.toElement.id != 'template_show_sidebar' && jQuery(e.toElement).parents('#template_show_sidebar').length < 1) {
          jQuery('#template_show_sidebar').fadeOut();
        }
      });
    });
  </script>

  <style>
    #template_show_sidebar pre {
      white-space: pre-wrap;
      font-size: 1.0em;
      padding: 5px 10px;
    }

    #template_show_sidebar h3 {
      margin-top: 5px;
    }

  </style>

  <div id="template_show_sidebar" style="position: absolute; right: 0px; height: 600px; width: 300px; background: white; display: none; border-left: 1px solid silver; padding: 10px;">
    <h3>{{ template.name }}</h3>
    <p>{{ template.description}}</p>
    <h3>Installation</h3>
    To install, use the following phpdoc command:<br />
    <pre><code>phpdoc template:install {{ template.slug }}</code></pre>
    <br />
    If you haven't installed phpDocumentor via PEAR then you must supply which version that
    you'd like to install using a second argument.
    <pre><code>phpdoc template:install {{ template.slug }} -v 1.0.0</code></pre>
    <h3>Usage</h3>
    To use this template, use the following phpdoc command:<br />
    <pre><code>phpdoc -d [SRC] -t [DEST] --template {{ template.slug }}</code></pre>
    <h3>Versions</h3>
    <ul>
      <li>1.0.0</li>
    </ul>
  </div>
  <img id="template_show_image" src="{{ asset('bundles/phpdocumentortemplate/images/screenshots/'~template.slug~'.png') }}" alt="{{ template.name }}" width="100%" title="Click to close">

{% endblock %}
